DATABASE_URL="postgresql://milena:0140@postgres:5432/education_db?schema=public"

JWT_SECRET="dada"

ETHEREAL_USER="beth.monahan40@ethereal.email"
ETHEREAL_PASS="7qPkKXUGpr2pHQTcrr"

RABBITMQ_URL=amqp://rabbitmq:5672

REDIS_HOST=redis
REDIS_PORT=6379

PORT=3000